@import "../css/variables.scss";

.w-20 {
  width: var(--width20);
}

.w-40 {
  width: var(--width40);
}

.w-60 {
  width: var(--width60);
}

.w-80 {
  width: var(--width80);
}

.h-20 {
  height: var(--height20);
}

.h-40 {
  height: var(--height40);
}

.h-60 {
  height: var(--height60);
}

.h-80 {
  height: var(--height80);
}

.react-select__control {
  min-height: 42px !important;
  border: 1px solid grey;
  box-shadow: none;
}

.react-select__control:hover {
  border-color: grey;
}

.react-select__indicator-separator {
  display: none;
}

.react-select__menu {
  margin-top: 2px;
}

.react-select__option {
  background-color: #ffffff;
}

.react-select__option:hover {
  background-color: lighten(#ddd, 10%);
}

.react-select__option--is-selected {
  background-color: lighten(#ddd, 7%);
  color: black;

  &:hover {
    background-color: lighten(#ddd, 7%);
    color: black;
  }
}
