:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --width20: 20%;
  --width40: 40%;
  --width60: 60%;
  --width80: 80%;
  --height20: 20%;
  --height40: 40%;
  --height60: 60%;
  --height80: 80%;
  --navbar-link-color: #dc5c4e;
  --primary-color: #dc5c4e;
  --navbar-link-hover-color: #1e90ff;
  --blue: #20a997;
  --heading-font: "Josefin Sans", sans-serif;
  --content-font: "Roboto", sans-serif;
  --heading-font: "Josefin Sans", sans-serif;
  --content-font: "Roboto", sans-serif;
}
